@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Begin Variables */
:root {
  --soft-orange-color: hsl(35, 77%, 62%);
  --soft-red-color: hsl(5, 85%, 63%);
  --off-white-color: hsl(36, 100%, 99%);
  --grayish-blue-color: hsl(233, 8%, 79%);
  --dark-grayish-blue-color: hsl(236, 13%, 42%);
  --very-dark-blue-color: hsl(240, 100%, 5%);
  --font-size-paragraph: 15px;
}
/* End Variables */

/* Begin Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter";
  background-color: var(--off-white-color);
}
p {
  font-size: var(--font-size-paragraph);
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--soft-red-color) !important;
}

main {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  main {
    width: 750px;
  }
}

@media (min-width: 992px) {
  main {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  main {
    width: 1170px;
  }
}
.overlay {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.overlay.show {
  visibility: visible;
}

/* End Global Rules */

/* Begin Header */
header {
  padding-top: 90px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header .menu-show-btn {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
header .menu-content .menu-close-btn {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
header .menu-content .menu-list {
  display: flex;
  align-items: center;
}
header .menu-content .menu-list li {
  margin-left: 40px;
}
header .menu-content .menu-list li a {
  font-size: 16px;
  color: var(--dark-grayish-blue-color);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  header .menu-show-btn {
    display: block;
  }

  header .menu-content {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
    background-color: var(--off-white-color);
    z-index: 100;
    min-height: 100vh;
    padding: 25px 25px 25px 0;

    animation: openmenucontent;
    animation-duration: 1s;
  }
  header .menu-content.show {
    display: block;
  }
  header .menu-content .menu-close-btn {
    float: right;
    display: block;
  }
  header .menu-content .menu-list {
    flex-direction: column;
    float: left;
    align-items: flex-start;
    margin-top: 100px;
  }
  header .menu-content .menu-list li {
    margin-top: 25px;
  }
  header .menu-content .menu-list li a {
    font-size: 18px;
  }
}
@keyframes openmenucontent {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
/* End Header */

/* Begin Hero Section */
.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-bottom: 60px;
}

/* Begin Latest new  */
.hero .latest-new .latest-new-info {
  display: grid;
  margin-top: 30px;
  gap: 35px;
  grid-template-columns: 1fr 1fr;
}

.hero .latest-new .latest-new-info .latest-new-title {
  font-size: 54px;
  font-weight: 900;
  line-height: 1;
}
.hero .latest-new .latest-new-info .latest-new-paragraph {
  line-height: 1.6;
  color: var(--dark-grayish-blue-color);
  font-weight: 500;
}
.hero .latest-new .latest-new-info .latest-new-btn {
  width: 200px;
  padding: 15px 30px;
  font-size: 15px;
  background-color: var(--soft-red-color);
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
  letter-spacing: 3px;
  font-weight: 600;
}
.hero .latest-new .latest-new-info .latest-new-btn:hover {
  background-color: var(--very-dark-blue-color);
}
/* End Latest New  */

/* Begin News  */
.hero .news {
  background-color: var(--very-dark-blue-color);
  padding: 30px 15px 0 25px;
}
.hero .news h3 {
  color: var(--soft-orange-color);
  font-size: 40px;
}
.hero .news .new-item {
  padding-top: 35px;
  padding-bottom: 25px;
  border-bottom: var(--dark-grayish-blue-color) 1px solid;
}
.hero .news .new-item:last-child {
  border-bottom: none;
}
.hero .news .new-item .new-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.hero .news .new-item .new-title a {
  color: #fff;
}
.hero .news .new-item .new-title a:hover {
  cursor: pointer;
  color: var(--soft-orange-color) !important;
}

.hero .news .new-item .new-paragraph {
  line-height: 1.8;
  color: var(--grayish-blue-color);
}

@media screen and (max-width: 768px) {
  .hero {
    display: block;
  }
  .hero .latest-new .latest-new-image {
    content: url("./assets/images/image-web-3-mobile.jpg");
  }
  .hero .latest-new .latest-new-info {
    display: block;
  }
  .hero .latest-new .latest-new-info .latest-new-btn {
    margin-bottom: 100px;
  }
  .hero .news {
    margin-bottom: 20px;
  }
}
/* End News */

/* End Hero Section */

/* Begin News Grid */
.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.news-grid .new-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  padding: 10px;
}

.news-grid .new-item img {
  width: 100px;
}

.news-grid .new-item .new-item-number {
  font-size: 32px;
  font-weight: 700;
  color: var(--grayish-blue-color);
  margin-bottom: 8px;
}
.news-grid .new-item .new-item-title {
  margin-bottom: 7px;
  font-weight: 900;
}
.news-grid .new-item .new-item-title a {
  color: var(--very-dark-blue-color);
}
.news-grid .new-item .new-item-paragraph {
  color: var(--dark-grayish-blue-color);
  font-weight: 500;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .news-grid {
    display: block;
  }
}
/* End News Grid */
